<footer class="p-5 mt-10 bg-darkGreen text-white text-sm">
  <p class="text-darkGrayishBlue text-center ">
    Any feedback? Please let me know

    <a
      href="https://twitter.com/numulaa_"
      class="underline underline-offset-1"
      >here</a
    >
  </p>
  <div class="text-darkGrayishBlue text-center text-sm">
    Copyright &copy; 2022 Plantee | All Rights Reserved
  </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>